{{'section-ivan.css' | asset_url | stylesheet_tag}}

<section class="section-ivan">

    <div class="father-button">
        <a href="" class="button-login">
            {{ section.settings.title-boton }}
        </a>
    </div>

    <div class="container-img-info-ivan">
        <div class="container-img-ivan">
            {% if section.settings.main_image_desktop != blank %}
        </div>

        <div class="cotainer-info-all">
        

            <div class="container-info-ivan">
                <div class="arrow">
                    <img src="https://cdn.shopify.com/s/files/1/0777/2651/5513/files/Union.png?v=1686260101" alt="" srcset="">
                </div>
                <div class="container-title-subtitle">
                    <div class="title-ivan">
                        {{ section.settings.title-Hero }}
                    </div>
                    <div class="subtitle-ivan">
                        {{ section.settings.subtitle-Hero }}
                    </div>
                </div>
            </div>

            <div class="text-all">
                <div class="text1">
                    {{ section.settings.text-Hero1 }}
                </div>
                <div class="text2">
                    {{ section.settings.text-Hero2 }}
                </div>
                <div class="text3">
                    {{ section.settings.text-Hero3}}
                </div>
            </div>

        </div>    
    </div>

</section>

{% schema %}

    {
        "name": "section-ivan",
        "settings":[
            {
            "id": "main_image_desktop",
            "label": "Desktop Main Image",
            "type": "image_picker"
            },
            {
            "type": "text",
            "id": "title-boton",
            "label": "Boton"
            },
            {
            "type": "text",
            "id": "title-Hero",
            "label": "Title"
            },
            {
            "type": "text",
            "id": "subtitle-Hero",
            "label": "Subtitle"
            },
            {
            "type": "text",
            "id": "text-Hero1",
            "label": "text1"
            },
            {
            "type": "text",
            "id": "text-Hero2",
            "label": "text2"
            },
            {
            "type": "text",
            "id": "text-Hero3",
            "label": "text3"
            }
        ]
    }
{% endschema %}